.card {
    width: 500px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 1px 15px 0 rgb(208, 206, 206);
    border-radius: 20px;
    padding: 20px;
    position: relative;

    &__button, &__button_active {
        width: 35px;
        height: 35px;
        border: 1px solid #d3d3d3;
        border-radius: 50%;
        position: absolute;
        top: 20px;
        right: 20px;

        & > svg {
            width: 15px;
        }

        &_active {
            background-color: rgb(30, 30, 212);
            border-color: #fff;
        }
    }

    &__title, &__title_active {
        font-size: 30px;
        color: black;
        margin-bottom: 10px;
        &_active {
            text-decoration: line-through;
        }
    }

    &__text,  &__text_active {
        font-size: 18px;
        color: rgb(170, 170, 170);
        border-bottom: 2px solid rgb(237, 235, 235);
        padding-bottom: 20px;
        margin-bottom: 30px;
        &_active {
            text-decoration: line-through;
        }
    }

    &__date {
        font-size: 14px;
        color: rgb(170, 170, 170);
    }
}