.todo-tabs {
    &>button {
        background-color: rgb(71, 71, 71);
        font-weight: 900;
        color: white;
        text-transform: capitalize;
        padding: 10px;
        width: 100px;
        cursor: pointer;

        &:active {
            background-color: rgb(0, 230, 122);
        }

        &.active {
            // background-color: rgb(0, 230, 122);
        }
    }
}